.header {
  position: fixed;
  height: $header-height;
  box-shadow: 0px 1px 0px 0px rgba(24, 25, 31, 0.10);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10vw;
  width: 100%;
  background-color: $white-color;
  z-index: 1;
  top: 0;

  &__logo {
    cursor: pointer;
  }

  &-content {
    & > div {
      display: flex;
      column-gap: 2vw;
    }
  }

  &-nav {
    list-style-type: none;
    display: flex;
    column-gap: 2vw;
    align-items: center;

    &__item {
      position: relative;

      &-link {
        cursor: pointer;
        display: flex;
        align-items: center;
        height: 50px;

        &--collapsed {
          &::after {
            content: '\2039';
            font-size: 18px;
            transform: rotate(-90deg);
            margin-left: 5px;
          }
        }
      }
    }
  }

  ul li:hover > ul, ul li ul:hover {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
  }

  &-subnav {
    position: absolute;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    column-gap: 2vw;
    z-index: 2;
    width: 250px;
    padding: 24px;
    background-color: $white-color;
    gap: 32px;
    border-radius: 8px;
    box-shadow: 0px 5px 20px 0px rgba(41, 41, 42, 0.07);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;

    &__item {
      cursor: pointer;
    }
  }

  &-nav__item-link, &-nav__item-link::after, &-subnav, &-subnav__item-link {
    @include base-transition;
  }

  &-nav &-nav__item:hover &-nav__item-link {
    color: $primary-color;

    &::after {
      color: $primary-color;
      transform: rotate(-270deg);
    }
  }

  &-nav &-nav__item:hover > &-subnav, &-nav &-nav__item &-subnav:hover {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
  }

  &-nav &-subnav &-subnav__item-link:hover {
    color: $primary-color;
  }
}