.section-title {
  display: inline-block;
  width: calc(100% - 20vw);
  margin: 3vh 10vw 3vh 10vw;
  text-align: center;

  a {
    all: unset;
    pointer-events: none;
  }

  &--left {
    padding-left: 0;
    text-align: left;
  }

  &--center {
    text-align: center;
  }
}