.welcome {
  width: 100%;
  height: calc(100vh - #{$header-height});
  background-color: $secondary-color;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10vw;

  &__title {
    display: flex;
    color: white;
    flex-direction: column;
    margin-bottom: 5vh;
  }

  &__background {
    width: 520px;
    height: 520px;
  }
}
