.footer {
  background-color: $black-color;
  padding: 0 10vw;
  display: flex;
  flex-direction: column;

  &__logo {
    cursor: pointer;
  }

  &-content {
    display: flex;
    justify-content: space-between;
    margin: 10vh 0;
  }

  &-main {
    display: flex;
    flex-direction: column;
    row-gap: 32px;
  }

  &-description {
    display: flex;
    flex-direction: column;
    color: white;
  }

  &-icons {
    display: flex;
    column-gap: 16px;
    
    & a {
      cursor: pointer;
    }
  }

  &-nav {
    display: flex;
    column-gap: 4vw;

    &__section {
      display: flex;
      flex-direction: column;
      list-style-type: none;
    }

    &__title {
      color: $primary-color;

      & > span {
        cursor: default;
        display: inline-block;
        margin-bottom: 32px;
      }
    }

    &__subnav {
      display: flex;
      flex-direction: column;
      row-gap: 12px;
      list-style-type: none;
    }

    &__link {
      color: $lightgrey-color;
      cursor: pointer;
      @include base-transition;

      &:hover {
        color: $hover-color;
      }
    }
  }

  &-trademark {
    display: flex;
    flex-direction: column;
    margin: 23px 0;
    color: $lightgrey-color;
  }

  &-notes {
    margin-top: 20px;

    & a {
      color: $primary-color;
      cursor: pointer;

      &:hover {
        color: $hover-color;
      }
    }
  }
}