.icon-box {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $secondary-color;
  border-radius: 8px;
  border: 1px solid $white-color;
  padding: 27px 63px;

  &__icon {
    width: 60px;
    height: 60px;
  }
}