.heading-1 {
  font-family: 'Manrope';
  font-size: 64px;
  font-weight: bold;
}

.heading-2 {
  font-family: 'Manrope';
  font-size: 48px;
  font-weight: bold;
}

.heading-3 {
  font-family: 'Manrope';
  font-size: 32px;
  font-weight: bold;
}

.heading-4 {
  font-family: 'Manrope';
  font-size: 24px;
  font-weight: bold;
}

.heading-5 {
  font-family: 'Manrope';
  font-size: 18px;
  font-weight: bold;
}

.text-default {
  font-family: 'Manrope';
  font-size: 18px;
}

.text-default-bold {
  font-family: 'Manrope';
  font-size: 18px;
  font-weight: bold;
}

.text-small {
  font-family: 'Manrope';
  font-size: 14px;
}

.text-small-bold {
  font-family: 'Manrope';
  font-size: 14px;
  font-weight: bold;
}

.text-large {
  font-family: 'Manrope';
  font-size: 20px;
  font-weight: bold;
}

@media screen and (max-width: $breakpoint-xxl) {
  .heading-1 {
    font-size: 50px;
  }

  .heading-3 {
    font-size: 28px;
  } 
}

@media screen and (max-width: $breakpoint-md) {
  .heading-1 {
    font-size: 38px;
  }  
}