* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, a, button, input, textarea {
  all: unset;
}

h1, h2, h3, h4, h5 {
  display: block;
}

p {
  margin: unset;
}

ul {
  font-style: normal;
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  width: 10px;
  height: 3px;
}

::-webkit-scrollbar-thumb {
  background: #444444;
  border-radius: 100px;
  min-height: 40px;
  border: 2px solid rgba(24, 25, 31, 0.10);
  background-clip: padding-box;
  padding: 5px;
}
