.image-boxes {
  display: flex;
  flex-direction: column;
  margin: 10vh 10vw;

  &--filtered {
    margin: unset;
  }

  &__body {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 20px;

    &--three-in-row {
      grid-template-columns: repeat(3, minmax(0, 1fr));
    }

    &--four-in-row {
      grid-template-columns: repeat(4, minmax(0, 1fr));
    }
  }
}